* {
margin:0;
padding:0;
}

body {
background-color:#FFECB3;
width:auto;
height:100%;
box-sizing:border-box;
}
form {
color:#263238;
font-family:  Verdana, Arial, sans;
width:90%;
margin: 20px auto;
}
input[type=text], input[type=password] {
width:90%;
border:1px solid #fff;
border-bottom:1px solid #006064;
margin:5px 0;

} 
input[type=text]:focus, input[type=password]:focus {
border:1px solid #fff;
border-bottom:2px solid #006064;
}
input[type=submit] {
margin-top:10px;
margin-bottom:10px;
display:inline-block;
width:auto;
height:30px;
padding:5px;

color:#fff;
font-size:16px;
background-color:#FFAB00;

border:0;
border-radius:2px;
box-shadow: 1px 1px 5px 0 #90A4AE;
}

.login {
width: 400px;
height:200px;
margin: auto;
margin-top:5%;
padding:20px;
margin-bottom:150px;

background-color:#fff;
border-radius:5px;
box-shadow: 0 5px 15px #90A4AE;
}
border:1px solid #fff;
border-bottom:2px solid #006064;
}

.login input[type=submit] {
width:50%;
margin-right:20px;
}
.login a {
text-decoration:none;
font-weight:bold;
color: #FF8F00;
font-size:12px;
font-family: Verdana;
}

.error {
	color:red;
	font-weight:bold;
}

.success {
	width:100%;
	min-height:400px;
	padding:20px;
}

.register {
width: 300px;
min-height:250px;
margin: auto;
margin-top:5%;
padding:20px;

background-color:#fff;
border-radius:5px;
box-shadow: 0 5px 15px #90A4AE;
}

.choosefaculty {
width: 400px;
min-height:250px;
margin: auto;
margin-top:5%;
margin-bottom:50px;
padding:20px;

background-color:#fff;
border-radius:5px;
box-shadow: 0 5px 15px #90A4AE;
}

.header {
width:100%;
min-height:180px;
text-align:center;
box-shadow:0 2px 5px #757575;
background-color:#FFC107;
position:relative;
}
.header h1 {
color:#fff;
font-family: Arial, sans;
display:inline-block;
margin-top:50px;
}
.header .locale {
width:100px;
position:absolute;
right:0;
top:0;
text-align:right;
padding:10px;
color: #FFECB3;
}

.header .locale a{
color:#FFF8E1;
font-weight:bold;
}
.header .lg {
height:50px;
position:absolute;
right:0;
bottom:0;
padding-right:10px;
color:#FF6F00;
font-weight:bold;

}
.header .lg a {
color:#FFF8E1;
}


.menu {
margin-top:5px;
margin-left:5px;
padding:10px;
margin-bottom:20px;


width:95%;
min-height:20px;
background-color:#FFECB3;
border-bottom:1px solid #757575;
float:left;
}
.menu h2 {
text-align:center;
}

.menu ul {
 list-style-type:none;
 padding:10px;
}
.menu li {
	display:inline-block;
	padding:10px 20px;
	text-align:center;
background-color:#FFF8E1;
margin: 0 10px;
border-radius:20px;
box-shadow: 0 5px 5px #90A4AE;
}
.menu a{
text-decoration:none;
font-weight:bold;
width:auto;
height:auto;

}

.content-wrapper {
width:100%;
min-height:400px;
}

.content {
width:95%;
padding:20px;
text-align:left;
}
.content .fio {
font-weight:bold;
}

.content .faculty-name {
font-weight:bold;
}
.content .score {
font-weight:bold;
}
.content .applic {
}

.content .applic-num {
font-weight:bold;
font-style:italic;
}

.content a {
color:#FF6F00;

}
.content h2 {
text-align:center;
padding-bottom:10px;
}

.faculty {
width:100%;
border-top:1px solid #FF6F00;
border-bottom: 1px solid #FF6F00;
padding:10px;
}

.pages {
margin-top:10px;
}
.pages a {
display:inline-block;
width:20px;
height:20px;
text-align:center;
background-color:#FFF8E1;
}
.footer {
width:100%;
min-height:10px;
text-align:center;
}

a.title {
 text-decoration:none; 
 color:#fff;
}

a.act {
	color:#FFC107;
}
a.addbutton {
display:inline-block;
padding:10px 20px;
text-align:center;
text-decoration:none;
background-color:#FFF8E1;
font-weight:bold;
color:#E65100;
margin-top:-20px;
border-radius:20px;
box-shadow: 0 5px 5px #90A4AE;
float:right;
}
